/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #014038;
    padding: 10px 20px;
}

header .logo {
    font-size: 24px;
    color: white;
    text-align: left;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.sign-up {
    background-color: #96BAA0;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.sign-up:hover {
    background-color: #014038;
}

/* Gallery Section */
.gallery {
    padding: 20px;
    text-align: center;
}

.gallery h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.grid-item {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.add-to-cart {
    background-color: #014038;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.add-to-cart:hover {
    background-color: #96BAA0;
}

/* Cart Modal Styles */
.cart-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.cart-content {
    background-color: #f9f9f9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.view-cart, .clear-cart, .process-order {
    background-color: #014038;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.view-cart:hover, .clear-cart:hover, .process-order:hover {
    background-color: #96BAA0;
}

/* Footer Styles */
footer {
    background-color: #014038;
    padding: 20px;
    color: white;
    text-align: center;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}
